#footer {
  border:1px solid #eeeeee;
  height:120px;
  background:#ffffff url(../img/oatv-logo.png) 0 21px no-repeat;
  -webkit-box-shadow:inset 0 0 12px #cccccc;
  @media @mobi-v {
    background: #fff url(../img/mobi-oatv-logo.png) 0 21px no-repeat;
    height: 100px;
  }
  p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    color:#444444;
    padding:0 0 0 200px;
    line-height: 120px;
    @media @mobi-v {
        font-size: 10px;
        padding: 0 0 0 120px;
        line-height: 100px;
    }
  }
  strong {
    color:#000000;
  }
}
#who-we-are #footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}